body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 20px;
   }

   h1 {
     font-size: 20px;
   }

   #loadingIndicator {
     display: block;
     margin-top: 20px;
   }

   #links {
     margin-top: 20px;
     list-style: none;
     padding: 0;
   }

   #links li {
     margin-bottom: 10px;
   }

   #links li a {
     text-decoration: none;
     color: #0000EE;
   }